<div class="page-header">
  <h1>Welcome</h1>
</div>

<p>This project is written by Haisu Zuo for learning Ruby on Rails through projects. It is suppose to realize a company library for the staff, with the features of:</p>
<br>
<li>Register an account by @qvod.com email address</li>
<li>Recommand a book to the admin <i>by staff</i></li>
<li>Register a book to the library to let <i>by admin</i></li>
<li>Borrow a book from the library <i>by staff</i></li>
<li>Return a book to the library <i>by staff</i></li>
<li>Search a book from the library <i>by everyone</i></li>
